.detail{
    flex: 1;
    .user{
       padding: 1em 2em;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 10px;
       border-bottom: 1px solid hsl(240, 13%, 45%);

       img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
       }
    }

    .info{
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }


    .option{

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
            width: 30px;
            height: 30px;
            background-color: hsla(240, 61%, 14%, 0.411);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            }
        }
        .photos{
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 20px;

            .photoItem{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .photoDetail{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                
                    span{
                        font-size: 1rem;
                        color: lightgray;
                        font-weight: 300;
                    }

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }

                .icon{
                width: 30px;
                height: 30px;
                background-color: hsla(240, 61%, 14%, 0.411);
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                }
            }
        }
    }

    button{
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        background-color: hsla(0, 70%, 53%, 0.801);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            background-color: hsl(0, 70%, 53%);
        }

        &.logOut{
            padding: 10px;
            background-color: hsla(240, 100%, 33%, 0.699);

            &:hover{
                background-color: hsl(240, 100%, 33%);
            }
        }
    }
}