
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 50;

    .title{
        display: flex;
        margin-top: 1em;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        padding-bottom: 10px;
        @media screen and (max-width: 844px) {
            display: flex;
            font-size: 2rem;
            padding-top:1em;
            margin-top: 0;
        }
    }
    
    .logo{
        width: 20%;
        display: flex;
        @media screen and (max-width: 844px) {
            width: 70px;
            padding-top:0.5em;
        }
    }

    .subtitle{
        margin-top: -3em;
        margin-left: -10em;
        @media screen and (max-width: 844px) {
            display: none;
        }
    }
    
}

h2{
    color:lightgray
}

.login{
    width: 100%;
    height: 120%;
    display: flex;
    margin-top: 3em;
    align-items: center;
    gap: 5em;
    overflow-x: hidden;

    @media screen and (max-width: 844px) {
        gap:10em;
        flex-direction: column;
        gap: 0;
    }

    .item{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        overflow-x: clip;
        @media screen and (max-width: 844px) {
            flex: 0;
            padding: 0;
            gap: 0.5em;
            margin-top: 120px;
            margin-bottom: -70px;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            z-index: 10;

            input{
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 5px;
                color: white;
                background-color: hsla(240, 61%, 14%, 0.411);
            }

            label{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                text-decoration: underline;
                gap: 2em;
                text-decoration: none;
                margin-bottom: 10px;
                color:lightgray;
            

                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 30%;
                    object-fit: cover;
                }
            } 
            
            button{
                width:60%;
                padding: 1em;
                border: none;
                outline: none;
                border-radius: 5px;
                color: white;
                background-color: hsla(240, 61%, 14%, 0.712);
                cursor: pointer;
                font-weight: 600;

                &:disabled{
                    cursor: not-allowed;
                    background-color: hsla(240, 61%, 14%, 0.5);
                }

                &:hover{
                    background-color: hsl(240, 61%, 14%);
                }
            }
        }
    }

    .separator{
        width: 2px;
        height: 40%;
        background-color: hsl(240, 13%, 45%);
        margin: -15em;
        @media screen and (max-width: 844px) {
            height: 0;
            margin: 0;
        }
    }
}