.addUser{
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: hsla(0, 0%, 17%, 0.75);
    border: 1px solid hsla(0, 0%, 100%, 0.459);
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    form{
        display: flex;
        gap: 1em;

        input{
            padding: 1em;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        button{
            padding: 1em;
            border-radius: 10px;
            border: none;
            outline: none;
            background: linear-gradient(to left, hsl(150, 55%, 47%) 30%, white 70%);
            color: rgb(53, 53, 53);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            font-weight: 600;;

            &:hover{
                scale: 0.95;
            }
        }
    }

    .user{
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
            display: flex;
            align-items: center;
            margin-top: 10px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{
                margin-left: 1em;
            }
        }

        button{
            padding: .8em;
            border-radius: 10px;
            border: none;
            outline: none;
            background:  hsl(150, 55%, 47%);
            color: rgb(53, 53, 53);
            cursor: pointer;
            margin-top: 10px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            &:hover{
                scale: 0.95;
            }
        }
    }
}