.addUser{
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: hsla(240, 61%, 14%, 0.849);
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    form{
        display: flex;
        gap: 1em;

        input{
            padding: 1em;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        button{
            padding: 1em;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: hsla(240, 100%, 33%, 0.7);
            color: white;
            cursor: pointer;

            &:hover{
                background-color: hsl(240, 100%, 33%);
            }
        }
    }

    .user{
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
            display: flex;
            align-items: center;
            margin-top: 10px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{
                margin-left: 1em;
            }
        }

        button{
            padding: .8em;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: hsla(240, 100%, 33%, 0.7);
            color: white;
            cursor: pointer;
            margin-top: 10px;

            &:hover{
                background-color: hsl(240, 100%, 33%);
            }
        }
    }
}